---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}


    {% include scripts.html %}
    <div style="text-align: center; margin-top: 20px;">
      <div style="display: inline-block; width: 200px; height: 200px; overflow: hidden; transform: scale(0.5); transform-origin: top left;">
        <script type="text/javascript" id="clstr_globe"
                src="//clustrmaps.com/globe.js?d=gq05VlQAZIFyT0al73oAS9X-T6iNFb5FHL4DrZh96S4">
        </script>
      </div>
    </div>
  </body>
</html>
